{{outlet}}
<div class="blogList pageContent">
    <p class="imageHeader contactHeader">
        Get In Touch
    </p>
    <div class="contentWrapper">
        <h1>Contact Smith&nbsp;And&nbsp;Williams</h1>
        <p class="phrase">If you need Smith And Williams assistance in the digitalisaton of your business or simply want to have a drink, contact
            us.
        </p>
        {{#validated-form on-submit = (action "submit") as |f|}}

        <div class="fieldsRow">

            <p class="error">{{#f.input name="firstName" }} {{input type="text" id="firstName" name="firstName" required="required" focus-in=(action
                "focus" true ) focus-out=(action "focus" false ) class=(if focused "focused" ) }}
                <label for="firstName">First name</label>{{/f.input}}
                <span class="errorMsg">This field can't be empty</span>
            </p>
            <p>{{#f.input name="lastName"}} {{input type="text" id="lastName" name="lastName" required="required" focus-in=(action
                "focus" true ) focus-out=(action "focus" false ) class=(if focused "focused" ) }}
                <label for="lastName">Last name</label> {{/f.input}}
                <span class="errorMsg">This field can't be empty</span>
            </p>

            <p>{{#f.input name="email"}} {{input type="email" id="email" name="email" required="required" focus-in=(action "focus"
                true ) focus-out=(action "focus" false ) class=(if focused "focused" ) }}
                <label for="email">Email</label>{{/f.input}}
                <span class="errorMsg">This field can't be empty</span>
            </p>

        </div>
        <div class="fieldsRow">
            <p class="textarea">{{#f.input name="message"}} {{f.input type="textarea" name="message" id="message" focus-in=(action "focus" true)
                focus-out=(action "focus" false) class=(if focused "focused" )}}
                <label for="message">Message</label>{{/f.input}}</p>
        </div>

        <p>{{f.input type="checkbox" label="Check if you want to receive further message from Smith And Williams" name="optin"}}
        </p>
        <p>{{f.submit label="Send"}} </p>

        {{/validated-form}}
    </div>

</div>