{{outlet}}
<div class="blogList pageContent">
    <p class="imageHeader contactHeader">
        Get In Touch
    </p>
    <div class="contentWrapper">
        <h1>Contact Smith&nbsp;And&nbsp;Williams</h1>
        <p class="phrase">If you need Smith And Williams assistance in the digitalisaton of your business or simply want to have a drink, contact
            us.
        </p>
        <form>

            <div class="fieldsRow">

                {{material-input type="text" materialId="firstName" required="required" name="firstName" label="First name"}} {{material-input
                type="text" materialId="lastName" required="required" name="lastName" label="Last name"}} {{material-input
                type="email" materialId="email" required="required" name="email" label="Email"}}
            </div>
            <div class="fieldsRow">
                {{material-input type="textarea" materialId="message" required="required" name="message" label="Message"}}

            </div>

            {{f.input type="checkbox" label="Check if you want to receive further message from Smith And Williams" name="optin"}} {{f.submit
            label="Send" class="button"}}

        </form>
    </div>

</div>