{{outlet}}
<div class="blogList pageContent">
    <figure class="mainImage">
        <img src="assets/img/sw-blog-logo.svg" alt="">
    </figure>
    <div class="contentWrapper">
        <h1>Latest blog entries</h1>
        <div class="teaser">
            {{#link-to "single" title="more about Main Article Title WQ" class="teaserImage"}}
            <img src="assets/img/lighthouse-thumbnail.jpg" alt="">{{/link-to}}
            <div class="teaserBody">
                <div class="postHeader">
                    <a href="#5" class="postCategory postHeaderLink">Design</a>
                    <span>//</span>
                    <a href="#2" class="postDate postHeaderLink">November 11 2017</a>
                    <h2>{{link-to "Main Article Title WQ" "single" title="more about Main Article Title WQ" }}</h2>
                </div>
                <div class="teaserExcerpt">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum rutrum felis id nulla aliquet, nec molestie lacus sagittis.
                        Curabitur nisi massa, ultricies quis pretium non, pulvinar nec turpis. Donec id ultricies ligula.
                        Donec a mi urna {{link-to "[...]" "single" title="more about Main Article Title WQ" class="moreDots"}}
                    </p>
                    {{link-to "Read More" "single" title="more about Main Article Title WQ" class="readMore"}}
                </div>
            </div>
        </div>
        {{!-- --}}
        <div class="teaser">
            {{#link-to "single" title="more about Main Article Title WQ" class="teaserImage"}}
            <img src="assets/img/lighthouse-thumbnail.jpg" alt="">{{/link-to}}
            <div class="teaserBody">
                <div class="postHeader">
                    <a href="#5" class="postCategory postHeaderLink">Design</a>
                    <span>//</span>
                    <a href="#2" class="postDate postHeaderLink">November 11 2017</a>
                    <h2>{{link-to "Main Article Title WQ" "single" title="more about Main Article Title WQ" }}</h2>
                </div>
                <div class="teaserExcerpt">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum rutrum felis id nulla aliquet, nec molestie lacus sagittis.
                        Curabitur nisi massa, ultricies quis pretium non, pulvinar nec turpis. Donec id ultricies ligula.
                        Donec a mi urna {{link-to "[...]" "single" title="more about Main Article Title WQ" class="moreDots"}}
                    </p>
                    {{link-to "Read More" "single" title="more about Main Article Title WQ" class="readMore"}}
                </div>
            </div>
        </div>
        {{!-- --}}
        <div class="teaser">
            {{#link-to "single" title="more about Main Article Title WQ" class="teaserImage"}}
            <img src="assets/img/lighthouse-thumbnail.jpg" alt="">{{/link-to}}
            <div class="teaserBody">
                <div class="postHeader">
                    <a href="#5" class="postCategory postHeaderLink">Design</a>
                    <span>//</span>
                    <a href="#2" class="postDate postHeaderLink">November 11 2017</a>
                    <h2>{{link-to "Main Article Title WQ" "single" title="more about Main Article Title WQ" }}</h2>
                </div>
                <div class="teaserExcerpt">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum rutrum felis id nulla aliquet, nec molestie lacus sagittis.
                        Curabitur nisi massa, ultricies quis pretium non, pulvinar nec turpis. Donec id ultricies ligula.
                        Donec a mi urna {{link-to "[...]" "single" title="more about Main Article Title WQ" class="moreDots"}}
                    </p>
                    {{link-to "Read More" "single" title="more about Main Article Title WQ" class="readMore"}}
                </div>
            </div>
        </div>
        {{!-- --}}
        <div class="teaser">
            {{#link-to "single" title="more about Main Article Title WQ" class="teaserImage"}}
            <img src="assets/img/lighthouse-thumbnail.jpg" alt="">{{/link-to}}
            <div class="teaserBody">
                <div class="postHeader">
                    <a href="#5" class="postCategory postHeaderLink">Design</a>
                    <span>//</span>
                    <a href="#2" class="postDate postHeaderLink">November 11 2017</a>
                    <h2>{{link-to "Main Article Title WQ" "single" title="more about Main Article Title WQ" }}</h2>
                </div>
                <div class="teaserExcerpt">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum rutrum felis id nulla aliquet, nec molestie lacus sagittis.
                        Curabitur nisi massa, ultricies quis pretium non, pulvinar nec turpis. Donec id ultricies ligula.
                        Donec a mi urna {{link-to "[...]" "single" title="more about Main Article Title WQ" class="moreDots"}}
                    </p>
                    {{link-to "Read More" "single" title="more about Main Article Title WQ" class="readMore"}}
                </div>
            </div>
        </div>
        {{!-- --}}
    </div>

</div>